<nav>
        <div class="nav-wrapper teal darken-4">
          <a href="#" class="brand-logo center">Mongo Scraper</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a href="/scrape" class="waves-effect waves-light btn" id="scrape">Scrape News</a></li>
            <li><a href="/clear" class="waves-effect waves-light red darken-2 btn" id="clear">Clear</a></li>
          </ul>
        </div>
      </nav>

    <div class="jumbotron text-center ">
      <div class="overlay"></div>
      <div class="background-image"></div>
    </div>
    <div class="container-fluid article-container container" id="articles">
      {{#each articles}}
      <div data-id="{{_id}}" class="card">
        <div class="card-header">
          <h4 class="center">
            <a
              class="article-link"
              target="_blank"
              rel="noopener noreferrer"
              href="{{link}}"
              >{{ title }}</a
            >
            <a data-id="{{_id}}" class="btn btn-success save btn-small" id="save-article">Save Article</a>
          </h4>
        </div>
         <div class="card-body">
          {{ summary }}
        </div>
        {{/each}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/app.js"></script>